body {
    background-color: #f3f3f3;
}

.logo {
    text-decoration: none;
    color: #e7e5e5;
}

.logo:hover {
    color: #e7e5e5;
}

.navbar {
    font-family: Lato, sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    color: #e7e5e5;
}

.light-bg {
    background-color: #95bdff;
}

.dark-bg {
    background-color: #2c2c2c;
}

.main-bg {
    background-color: #e7e5e5;
}

.card {
    border: none;
    background-color: transparent;
    max-width: 80%;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #3e83f1;
}

.author {
    color: white;
    margin: 5px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #2c2c2c;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.post-link {
    text-decoration: none;
    color: #000000;
}

.post-link:hover,
.page-link {
    color: #3e83f1;
}

.post-title {
    margin-top: 20%;
    margin-left: 10%;
}

.post-subtitle {
    margin-left: 10%;
    color: rgb(229, 230, 231);
}

.btn-signup {
    background-color: #37b627;
    color: black;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #29751f;
    color: black;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #29751f;
    text-decoration: underline;
}

.comment-section {
    margin-top: 1.3em;
}

.btn-like {
    color: #ff0000;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #ff0000;
    background: transparent;
    border: none;
}